:root{
    --white: #ffffff;
    --blue: #52a3da;
}

.top-queue-container{
    background-color: var(--blue);
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 7px 7px 7px 7px;
}

.bottom-queue-container{

}